input[type="text"] {
    width: 70%;
    height: 60px;
    background: #fff;
    border: 1px solid #d3d4d7;
    border-radius: 8px 8px 8px 8px;
    margin: 0 20px 10px 10px;
    float: left;
    font-size: 20px;
    color: #36383b;
    padding: 0 20px;
}

@media only screen
and (min-width: 320px)
and (max-width: 736px){
    input[type="text"] {
        height: 40px;
        width: 80%;
        font-size: 12px;
  }
}